*/node_modules
*/public/fonts/vendor/**
*/public/hot
*/public/storage
*/public/vendor/**
*/public/js/app.js
*/public/css/app.css
*/public/mix-manifest.json
*/storage/*.key
*/vendor
*/composer.lock
*/.env
*/public/.htaccess
*/bootstrap/compiled.php
*/build/logs
*/build/coverage
*/app/tests/_log
composer.phar
*/app/config/packages
*/public/packages

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
.DS_Store
sql/tmp

inc/databases/

log/

sql/tmp/

avatars/

old_site
portal/cache
portal/tmp

!.gitignore

etc/letsencrypt/cloudflare.ini
etc/letsencrypt/live/
etc/letsencrypt/keys/
etc/letsencrypt/renewal/
etc/letsencrypt/csr/
etc/letsencrypt/archive/
etc/letsencrypt/accounts/

backups/*.zip

!*/vendor/livewire/livewire/src/LivewireServiceProvider.php
*.log

board/ext/phpbb/viglink/

portal/public/phpmyadmin/tmp/

!board/cache/production/.gitsave
board/cache/production/

portal/public/js/app.js.LICENSE.txt

portal/public/css/all.css

portal/public/css/tailwind.css

etc/nginx/ssl/cloudflare.pem
