*/node_modules
*/public/fonts/vendor/**
*/public/hot
*/public/storage
*/public/js/app.js
*/public/css/app.css
*/public/mix-manifest.json
*/storage/*.key
*/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
.DS_Store
sql/tmp

inc/databases/

log/

sql/tmp/

avatars/

board/cache/production
old_site
portal/cache
portal/tmp

!.gitignore

etc/letsencrypt/cloudflare.ini
etc/letsencrypt/live/
etc/letsencrypt/keys/
etc/letsencrypt/renewal/
etc/letsencrypt/csr/
etc/letsencrypt/archive/
etc/letsencrypt/accounts/

backups/*.zip