/node_modules
/public/fonts/vendor/**
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
.DS_Store
sql/tmp

inc/databases/

log/

sql/tmp/

avatars/

board/cache/production
old_site
portal/cache
portal/tmp

!.gitignore
portal/www/administrator/cache/

etc/letsencrypt/cloudflare.ini
etc/letsencrypt/live/
etc/letsencrypt/keys/
etc/letsencrypt/renewal/
etc/letsencrypt/csr/
etc/letsencrypt/archive/
etc/letsencrypt/accounts/

portal/public/js/app.js

portal/public/css/app.css

portal/public/mix-manifest.json

backups/*.zip
