.homepage-logo-container {
    margin: 10px 0;

    @media (min-width: $tablet-breakpoint) {
        margin: 0;
    }
}

.homepage-logo {
    height: 120px;
    margin: 0 auto;
}

.homepage-content {
    padding: 0;
    background: black;
}

.homepage-section-content {
    padding: 0;
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;

    @media (min-width: $tablet-breakpoint) {
        width: 500px;
    }
}

.homepage-world-differences {
    font-size: 12px;
    text-align: center;
}

.homepage-world-differences-link {
    text-decoration: none;
}

.homepage-online-worlds-table {
    width: 170px;

    @media (min-width: $tablet-breakpoint) {
        width: 200px;
    }
}

.homepage-world-location {
    display: table;
    margin: 0 auto;
}

.homepage-world-type {
    font-weight: bold;
    text-align: center;
}

.homepage-world-link {
    color: $LinkColor;
    text-decoration: none;
}

.homepage-botting-worlds-list {
    margin-left: 10px;

    @media (min-width: $tablet-breakpoint) {
        margin-left: 50px;
    }
}