.play-now-container {
    position: relative;
}

.play-now-left-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 15%;

    @media (min-width: $tablet-breakpoint) {
        height: 490px;
    }
}

.play-now-right-button {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 15%;

    @media (min-width: $tablet-breakpoint) {
        height: 490px;
    }
}

.play-now-image {
    width: 100%;

    @media (min-width: $tablet-breakpoint) {
        width: auto; // hopefully this calculates to its inherent width of 520px?
    }
}

.play-now-other-clients {
    text-align: center;
    font-family: system-ui;
}

.play-now-other-client-name {
    font-weight: bold;
}

.play-now-other-client-link {
    text-decoration: none;
}