// Body
$body-bg: #000000;

// Colors
$blue: #0d6083;
$indigo: #6574cd;
$purple: #c503fd;
$pink: #faa8aa;
$red: #e10505;
$orange: #f6993f;
$yellow: #ffe139;
$green: #04a800;
$teal: #4dc0b5;
$HiscoresPlayerStatColor: #9db8c3;

// Breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;